nav.navbar
  .container
    .navbar-logo
      a(href='/') Pochi Tamba
    .navbar-items
      input#hamburger-toggle(type='checkbox')
      label.hamburger-icon(for='hamburger-toggle')
        i.ph-light.ph-list
      ul.navbar-links
        li.navbar-item
          a(href='/') Home
        li.navbar-item
          a(href='/projects') Projects
        li.navbar-item
          a(href='/blogs') Blogs
        li.navbar-item 
          a(href='/clients') Reviews
        li.navbar-item
          a(href='/about') About
        li.navbar-item
          a(href='/contact') Contact
script(src="https://unpkg.com/@phosphor-icons/web")


