.about {
  @extend %page;
  word-break: break-all;

  &--active {
    @extend %page--active;
  }
}

.about__content {
  @extend %cover;
  @extend %content;
  overflow: auto;
}

.intro__about {
  @extend %sections;
}

.intro__about__content {
  @extend %section__contents;

  h1 {
    @extend %page-headings;
  }
  img{
    @extend %heading__img;
    @extend %imageborder;
  }
}

.about__content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px 0 0 0;
}

.about__me,
.about__background{
  margin-bottom: 60px;
}


.about__me {
  h2 {
    font-family: $font-polysans-slim;
    font-size: 4rem;
    color: $color-accent;
  }

  p {
    font-family: $font-polysans-neutral;
    font-size: 3rem;
    color: $color-black;
     margin: 30px 0 0 0;
  }
}

.about__background {

  h2 {
    font-family: $font-polysans-slim;
    font-size: 4rem;
    color: $color-accent;
  }


  p {
    font-family: $font-polysans-neutral;
    font-size: 3rem;
    color: $color-black;
    margin: 30px 0 0 0;
  }
}