.about {
  @extend %page;
  word-break: break-all;

  &--active {
    @extend %page--active;
  }
}

.about__content {
  @extend %cover;
  @extend %content;
  overflow: auto;
}

.intro__about {
  @extend %sections;
}

.intro__about__content {
  @extend %section__contents;

  h1 {
    @extend %page-headings;
    line-height: 0.9;
    margin-bottom: 100px;
  }
  img{
    @extend %heading__img;
    @extend %imageborder;

  }
}

.about__content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px 0 0 0;

  @include media("<phone") {
    max-width: 100%;
    margin: 0 auto;
  }

}

.about__me,
.about__background{
  max-width: 85%;
  word-break: keep-all;
  margin-bottom: 60px;
  @include media("<phone") {
    max-width: 100%;
  }
}


.about__me {
  p {
    font-family: $font-polysans-slim;
    font-size: 3rem;
    color: $color-black;
    margin: 30px 0 0 0;

     @include media("<phone") {
      font-size: 1.5rem;
    }
  }

}

.about__background {

  h2 {
    font-family: $font-polysans-slim;
    font-size: 4rem;
    color: $color-accent;

    @include media("<phone") {
      font-size: 2rem;
    }
  }


  p {
    font-family: $font-polysans-slim;
    font-size: 3rem;
    color: $color-black;
    margin: 30px 0 0 0;
    @include media("<phone") {
      font-size: 1.5rem;
    }
  }
}