.blogs {
    @extend %page;
    word-break: break-all;
  
    &--active {
      @extend %page--active;
    }
  }
  
  .blogs__content {
    @extend %cover;
    @extend %content;
    overflow: auto;
    background-color: $color-black;
  }
  
  .intro__blogs {
    @extend %sections;
  }
  
  .intro__blogs__content {
    @extend %section__contents;
  
    h1 {
      @extend %page-headings;
      color: $color-white;
      margin-top: 50px;
    }
  }

  .blogs__list__content {
    @extend %section__contents;
}

.blogs__list {
  @extend %projects;
}

.blog {
  @extend %project;
}

.blog__img {
  @extend %project__img;
  img {
      @extend %imageborder;
  }
}

.blog__title {
  @extend %project__title;
  color: $color-white;
}

.blog__cta {
  @extend %project__cta;
  color: $color-white;
}
