.contact {
  @extend %page;
  word-break: break-all;

  &--active {
    @extend %page--active;
  }
}

.contact__content {
  @extend %cover;
  @extend %content;
  overflow: auto;
}

.intro__contact {
  @extend %sections;
}

.intro__contact__content {
  @extend %section__contents;

  h1 {
    @extend %page-headings;
    line-height: 0.9;
  }
}

.contact__content__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;

  h2 {
    font-family: $font-polysans-neutral;
    font-size: 10rem;
    line-height: 1.21;

    @include media("<phone") {
      font-size: 3rem;
    }
  }
}

.contact__option__email,
.contact__option__socials {
  color: $color-accent;
}

.contact__option__email {
  max-width: 600px;
  font-size: 8rem;
  @extend %link--colored;
  margin: 50px 0 25px 0;

  @include media("<phone") {
    font-size: 2rem;
    max-width: 400px;
  }
}

.contact__option__socials {
  display: flex;
  max-width: 500px;
  justify-content: space-between;
  font-size: 5rem;
  margin: 25px 0 100px 0;

  @include media("<phone") {
    font-size: 2rem;
    max-width: 400px;
  }

  a {
    @extend %link--colored;
  }
}

form {
  @include media("<phone") {
    width: 80%;
  }
}

#contact-form ul {
  list-style: none;
  margin-bottom: 20px;

  @include media("<phone") {
    font-size: 3rem;
  }
}

#contact-form li {
  padding: 10px 0;
  margin-bottom: 50px;

  @include media("<phone") {
    padding: 5px 0;
  }
}

#contact-form li:last-of-type {
  border-bottom: none;
}

#contact-form label {
  display: block;
  font-size: 4rem;
  color: $color-black;
  padding-left: 5px;

  @include media("<phone") {
    font-size: 2rem;
  }

}

#contact-form input,
#contact-form textarea {
  font-family: $font-polysans-neutral;
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  background: transparent;
  color: $color-accent;
  font-size: 4rem;

  @include media("<phone") {
    width: 50%;
    font-size: 2rem;
  }

}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
}

.textarea {
  border-bottom: 2px solid $color-accent;
}

.send {
  @extend %cta--colored;
  color: $color-white;
}