.home {
  @extend %page;
  word-break: break-all;

  &--active {
    @extend %page--active;
  }
}

.home__content {
  @extend %cover;
  @extend %content;
  overflow: auto;
}

.intro,
.work,
.reviews,
.connect,
.footer {
  @extend %sections;
}

.connect {
  background-color: $color-accent;
}

.intro__content,
.intro__work__content,
.intro__reviews__content,
.intro__connect{
  @extend %section__contents;
}



.title,
.quote {
  h2,
  p {
    font-family: $font-polysans-slim;
    font-size: 3rem;
    margin-top: 100px;
  }
}

.name__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  @extend %page-headings;
}

.image{
@extend %heading__img;
}

.writeup {
  margin: 0 auto;

  p {
    margin-top: 100px;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
  }
}

.cta {
  .btn {
    @extend %cta--colored;
  }
}

.intro__work {
  background-color: $color-black;
  color: $color-white;
}

.intro__work__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro__work__title,
.intro__reviews__title,
.intro__connect__title {
  h2 {
    font-family: $font-polysans-slim;
    font-size: 3rem;
  }
}

.intro__work__projects {
  @extend %projects;
}

.intro__work__project {
@extend %project;

  .intro__work__project__img {
@extend %project__img;
  }

  .intro__work__project__title {
   @extend %project__title;
  }

  .intro__work__project__cta {
 @extend %project__cta;
  }
}

.intro__reviews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
}

.intro__review {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}

.intro__review__client {
  width: 100px;
  object-fit: cover;
}

.intro__reviews__client__name {
  font-family: $font-polysans-neutral;
  font-size: 4rem;
}

.intro__review__text {
  line-height: 1.5;
  font-size: 2.5rem;
}

.intro__connect .intro__connect__content {
  background-color: $color-accent;
  color: $color-white;
}

.intro__connect__title {
  h2 {
    color: $color-white;
  }
}

.intro__connect__cta {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    margin-top: 50px;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    color: $color-white;
  }

  .btn {
    @extend %cta--white;
  }
}

.footer {
  position: fixed;
  background-color: rgb(255, 255, 255);
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px 0;
}

.footer__navigation,
.footer__socials,
.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.footer__navigation {
  font-size: 3rem;
  a {
    @extend %link--colored;
  }
}

.footer__socials {
  font-family: $font-polysans-neutral;
  font-size: 2.8rem;
  color: $color-accent;
  a {
    @extend %link--colored;
  }
}

.footer__brand {
  font-size: 12rem;
  font-weight: 500;
  font-family: $font-polysans-neutral;
  letter-spacing: -5px;
  color: $color-accent;
  text-align: center;
}

.footer__copyright {
  font-size: 2.5rem;
  a {
    @extend %link--colored;
  }
}