.projects {
    @extend %page;
    word-break: break-all;

    &--active {
        @extend %page--active;
    }
}

.projects__content {
    @extend %cover;
    @extend %content;
    overflow: auto;
}

.intro__projects {
    @extend %sections;
}

.intro__projects__content {
    @extend %section__contents;

    h1 {
        @extend %page-headings;
        line-height: 1.22;
    }
}

.projects__list__content {
    @extend %section__contents;
}

.projects__list {
    @extend %projects;
}

.project {
    @extend %project;

    @include media("<phone") {
        margin: 50px auto;
    }
}

.project__img {
    @extend %project__img;

    img {
        @extend %imageborder;

        @include media("<phone") {
            width: 350px;

        }
    }
}

.project__title {
    @extend %project__title;
}

.project__cta {
    @extend %project__project__cta;
}