.reviews {
  @extend %page;
  word-break: break-all;

  &--active {
    @extend %page--active;
  }
}

.reviews__content {
  @extend %cover;
  @extend %content;
  overflow: auto;
}

.intro__clients {
  @extend %sections;
}

.intro__clients__content {
  @extend %section__contents;

  h1 {
    @extend %page-headings;
  }
}


.intro__client__review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  margin: 50px 0;
  border-bottom: 1px solid $color-black;
  padding: 25px 0;

  img {
    @extend %imageborder;
  }
}


.intro__reviews__client__details {
  font-family: $font-polysans-neutral;
  font-size: 4rem;
  line-height: 1.5;
  margin-top: 20px;

  span {
    color: $color-accent;
  }

  @include media("<phone") {
    font-size: 1.8rem;
    word-break: keep-all;
  }
}

.intro__review__text__details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 3rem;
  max-width: 900px;
  word-break: keep-all;

  p {
    margin-bottom: 20px;
  }

  @include media("<phone") {
    font-size: 1.5rem;
   
  }
}

