%link__wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}

%link__line {
  background: $color-accent;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transition: transform 0.7s $ease-out-expo;
  width: 100%;
}

%link__line--white {
  background: $color-white;
  bottom: 0;
  content: '';
  height: 1.5px;
  left: 0;
  position: absolute;
  transition: transform 0.7s $ease-out-expo;
  width: 100%;
}

%link__line--colored {
  background: $color-accent;
  bottom: 0;
  content: '';
  height: 1.5px;
  left: 0;
  position: absolute;
  transition: transform 0.7s $ease-out-expo;
  width: 100%;
}



%link__line--visible {
  transform: scaleX(1);
  transform-origin: left center;
}

%link__line--hidden {
  transform: scaleX(0);
  transform-origin: right center;
}

%link {
  @extend %link__wrapper;

  display: inline;
  line-height: 2;

  &:after {
    @extend %link__line;
    @extend %link__line--visible;
  }

  &:hover,
  &:focus {
    &:after {
      @extend %link__line--hidden;
    }
  }
}

%link--white {
  @extend %link__wrapper;

  display: inline;
  line-height: 2;

  &:after {
    @extend %link__line--white;
    @extend %link__line--visible;
  }

  &:hover,
  &:focus {
    &:after {
      @extend %link__line--hidden;
    }
  }
}

%link--colored {
  @extend %link__wrapper;

  display: inline;
  line-height: 2;

  &:after {
    @extend %link__line--colored;
    @extend %link__line--visible;
  }

  &:hover,
  &:focus {
    &:after {
      @extend %link__line--hidden;
    }
  }
}



%link--hidden {
  @extend %link__wrapper;

  display: inline-block;
  line-height: 1.05;

  &:after {
    @extend %link__line;
    @extend %link__line--hidden;
  }

  &:hover,
  &:focus {
    color: $color-accent;
    &:after {
      @extend %link__line--visible;
    }
  }
}


%cta{
  width: max-content;
  margin: 0 auto;
  border-radius: 60px;
  padding: 12px 24px;
  border: none;
  font-size: 3rem;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  // span {
  //   color:$color-white;
  // }
}


%cta--colored{
  @extend %cta;
  background: $color-accent;
  span {
    color:$color-white;
  }
}


%cta--white{
  @extend %cta;
  background: $color-white;
  span {
    color:$color-black;
  }
}
