%page {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 1s ease, visibility 1s ease;
  visibility: hidden;
  width: 100%;
  z-index: z('content');
}

%page--active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

%content {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
}

%heading__img{
  width: 70%;
  object-fit: cover;
  margin: 0 auto;
  z-index: -1;
}

%sections{
  width: 100%;
  text-align: left;
}

%section__contents{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 150px 0 100px 0;
}

