%page {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 1s ease, visibility 1s ease;
  visibility: hidden;
  width: 100%;
  z-index: z('content');
}

%page--active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

%content {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
}

%heading__img{
  width: 70%;
  object-fit: cover;
  margin: 0 auto;
  z-index: -1;
}

%sections{
  width: 100%;
  text-align: left;
}

%section__contents{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 0;
}

%projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

%project{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

%project__img{
  width: 400px;
  object-fit: cover;}

%project__title{
  margin-top: 5px;
  h2 {
    font-family: $font-polysans-neutral;
    font-size: 6rem;
  }
}

%project__cta{
  a {
    font-family: $font-polysans-slim;
    font-size: 3rem;
    @extend %link--white;
  }
}

%project__project__cta{
  a {
    font-family: $font-polysans-slim;
    font-size: 3rem;
    @extend %link--colored;
  }
}


%project__project__cta__ctrl{
  a {
    @extend %project__project__cta;
    font-size: 8rem;
    font-family: $font-polysans-neutral;
    @extend %link--colored;
  }
}


%imageborder{
  border-radius: 20px;
}
