@font-face {
  font-family: 'Polysans Neutral';
  src: url('../fonts/polysans-neutral.woff2') format('woff2'),
       url('../fonts/polysans-neutral.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Polysans Slim';
  src: url('../fonts/polysans-slim.woff2') format('woff2'),
       url('../fonts/polysans-slim.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
