extends ../base.pug

block variables
  - var template = 'portraits'

block body
  .portraits
    .portraits__content
      .wrapper(data-scroll-container='')
        .container
          .site-content
            section.project-hero(data-scroll-section='')
              .project-header
                .row
                h1.outline Hear to
                .h1-img.h1-img-1
                .row
                .h1-img.h1-img-2
                h1 the new
                .row
                h1.outline experiment
                .row
                h1.primary
                  .hr
                  | Olivia
                  .hr
              .project-hero-scroll
                .scroll-icon
      section.project-hero-img(data-scroll-section='')
        img(src='/images/img-7.jpg' alt='')
      .container
        .site-content
          section.project-description(data-scroll-section='')
            .project-desc-col
              h4 Roles
              br
              p
              | Art Direction / rhythm Design 
              br
              | rhythmtrack / Video Direction 
              br
              | rhythm Strategy
            .project-desc-col
              p
              | Immersed within a captivating audio installation housed within a
              | collection of interconnected containers, each container served
              | as a unique emotional space. As visitors ventured through these
              | distinct rooms, they were offered the opportunity to capture the
              | rhythm emanating from their own skin, ultimately contributing to
              | the creation of a one-of-a-kind rhythmtrack, an original
              | composition of their own making.
      section.project-quote(data-scroll-section='')
        .quote-icon(data-scroll='' data-scroll-direction='horizontal' data-scroll-speed='-3')
          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 100 90')
            defs
            g(fill='none' stroke='#e4e3db' stroke-width='.25')
              path(d='M29 47.6c10.1 0 19.7 7.6 19.7 20.2C48.7 81.4 38.6 89 28 89 14.3 89 2.2 79.9 2.2 58.2c0-28.3 14.2-45.5 32.8-57.1l1.5 2C18.9 14.7 9.3 29.4 9.3 45c0 4.1 1 7.1 3 9.1C15.9 50.6 19.4 47.6 29 47.6zM78.1 47.5c10.1 0 19.7 7.6 19.7 20.2 0 13.6-10.1 21.2-20.7 21.2-13.6 0-25.8-9.1-25.8-30.8 0-28.3 14.1-45.5 32.8-57.1l1.5 2C68 14.7 58.4 29.3 58.4 45c0 4.1 1 7.1 3 9.1C64.9 50.5 68.5 47.5 78.1 47.5z')
        .quote
          h2
            | The first rhythmtrack 
            br
            | composed by the skin
            br
            | rhythms.
      .container
        .site-content
          section.concept(data-scroll-section='')
            .concept-header
              .row
                h1
                  | the
                  .hr
              .row
                h1 con
                .h1-img.h1-img-1
              .row
                h1
                  .hr
                  |                   cept
            .concept-content
              .concept-copy
                h4 The Idea
                br
                p
                  | In every passing moment, our skin communicates with us,
                  | responding to various sensations that come its way. Each of
                  | these experiences carries its own distinct rhythm. Music, in
                  | its essence, is an embodiment of the body, as every vibrating
                  | frequency gives birth to rhythm, which is perceived by our
                  | remarkably refined organ: the skin.
              .concept-copy
                h4 The Process
                br
                p
                  | Within this audio installation, you will encounter five
                  | meticulously crafted rooms, each designed to be rhythmproofed
                  | and dedicated to a distinct experience: cold, heat, water,
                  | emotion, and the final room known as &quot;vitaluxe.&quot; As you
                  | navigate through these rooms, you will witness the convergence
                  | of Sierra Montana and her array of rhythm equipment, creating
                  | a captivating atmosphere. To capture even the most
                  | imperceptible changes in the skin, specially designed
                  | microphones have been meticulously developed for each room,
                  | allowing for the precise capturing and sampling of these
                  | subtle shifts in rhythm.
      section.project-slider(data-scroll-section='')
        .carousel
          .carousel--wrap
            .carousel--item
              figure
                img(src='/images/img-1.png' alt='')
            .carousel--item
              figure
                img(src='/images/img-2.png' alt='')
            .carousel--item
              figure
                img(src='/images/img-3.png' alt='')
            .carousel--item
              figure
                img(src='/images/img-4.png' alt='')
            .carousel--item
              figure
                img(src='/images/img-5.png' alt='')
            .carousel--item
              figure
                img(src='/images/img-6.png' alt='')
            .carousel--item
              figure
                img(src='/images/img-7.jpg' alt='')
      .container
        .site-content
          section.project-showcase(data-scroll-section='')
            .project-showcase-img
              img(src='/images/img-1.jpeg' alt='')
          section.project-about(data-scroll-section='')
            .project-about-header
              h2
                span The
                br
                | rhythm
                br
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;track
            .project-about-copy
              p
                | The Artist, during the journey in the container, was able to
                | record the visitors rhythm to create a skin rhythmtrack for each
                | guest.
          section.project-showcase.project-showcase-2(data-scroll-section='')
            .project-showcase-img
              img(src='/images/img-1.jpeg' alt='')
          section.project-outro(data-scroll-section='')
            .project-outro-header
              h3 The
              h2 rhythm
              p
                | Every guest&apos;s rhythm sample serves as a pristine musical
                | instrument, contributing to the composition of the official
                | vitaluxe rhythmtrack. Here, we present a glimpse of the
                | captivating rhythms captured from various skins.
              .project-outro-scroll
                p Discover Below
              h3
                | the official
                span alura
                |  cruise 
                br
                | sourdtrack
      +footer 