extends ../base.pug

block variables
  - var template = 'about'

block body
  .about
    .about__content
      section.intro__about
        .intro__about__content
          h1 About 
            br 
            | me
          img(src='/images/pochi.jpg' alt='pochi')
          .about__content__details
            .about__me
              h2 About me
              p My name is Pochi. Some friends call me Porsche. In another life, I worked 
                | as a broadcaster and communication consultant for 
                | projects and organisations for 20years. But throughout 
                | my life, my passion has been people, and empowering 
                | voices for change. This space is about that one passion 
                | - life and leadership coaching.
            .about__background
              h2 My multi-faceted background
              p For twenty years, I worked as a broadcaster, a producer 
                |and as communication consultant for projects and 
                |organizations in Africa, Asia and the USA. But besides 
                |this exhilarating job, my passion has always been people. 
                |To build and keep energized the humans behind each 
                |concept. It is probably a passion that grew out of my 
                |intense civil society life.


                |In 2006, I joined a group of handpicked youths around 
                |the world to represent Africa in writing a toolkit for youths
                |in sustainable development called “Nothing for Us without 
                |Us! It still is being used to coach youths today. The project 
                |was sponsored by UK based charity focusing on youth 
                |entrepreneurship, employability, sustainable development 
                |and youth empowerment


                |In 2007 I started a pan African network that grew to have 
                |members in 40 African counties and today has an 
                |ECOSOC status with the UN and promotes the concept 
                |of youth-led development.


                |In 2008 I started Maya Initiatives. With this organisation, 
                |I have worked with victims of sexual assault, communities 
                |and partner organisations in Cameroon and abroad to 
                |fight stigma around rape, and encourage communication 
                |around sexual violence and support for survivors and 
                |families.


                |When I look at my multi-faceted life, one thread holds it 
                |all. The passion to speak for the unheard or the silenced. 
                |And further to that, a stronger passion to build awareness
                |about the voices we wield and story they tell about us. 
                |So that we know and be in control.       
