extends ../base.pug

block variables
    - var template = 'blog'

block body
    .blog
        .blog__content
            section.intro__blog
                .intro__blog__content
                    h1 Blog posts
            +footer 
