extends ../base.pug

block variables
    - var template = 'clients'

block body
    .clients
        .clients__content
            section.intro__clients
                .intro__clients__content(data-animation="paragraph")
                    h1 Reviews
                    .intro__client__reviews
                        .intro__client__review
                            .intro__review__client
                                img(src="/images/r1.png" alt="")
                            .intro__review__content__details
                                .intro__reviews__client__details
                                    span Hodna Nuernberg 
                                        | -  Elementary art teacher - Milwaukee, WI
                                .intro__review__text__details 
                                    p Pochi led a digital storytelling workshop for 53 fourth-grade students at the Milwaukee French Immersion School (MFIS),    
                                        br
                                        | a public school in Wisconsin. She collaborated closely with me and with two fourth-grade classroom teachers to develop
                                        br
                                        | the workshop, which comprised two weeks and culminated in the creation of a student-directed video about life at MFIS.

                                    p We launched the project with a virtual session in which Pochi introduced the project and provided guidelines for successfully 
                                        br
                                        | working together on the creation of an audio-visual story. The students then worked in small groups to capture audio, video, 
                                        br
                                        | and still images around the school.  The project concluded with an in-person visit from Pochi, during which she engaged and
                                        br
                                        | the students in the process of editing their audio-visual stories and discussed the importance of telling one’s own story. 

                                    p My students were highly engaged during Pochi’s workshops, and the information she shared allowed my students to work 
                                        br
                                        | collaboratively with minimal adult supervision. It was such fun to see the students wholeheartedly assuming their roles as 
                                        br
                                        | writers, directors, cinematographers, and sound engineers. By empowering my students to tell their own stories, Pochi 
                                        br
                                        | powerfully demonstrated that their voices and perspectives are worth sharing. It was an outstanding workshop, and I hope 
                                        br
                                        | to work with Pochi again!
                                

                        .intro__client__review
                            .intro__review__client 
                                img(src="/images/r3.png" alt="")
                            .intro__review__content__details
                                .intro__reviews__client__details
                                    span Georgette Arrey Taku 
                                        | - GBV and Child Protection Manager
                                    br 
                                    | CoSMO Project, NECC Yaounde Cameroon
                                .intro__review__text__details 
                                    p Pochi is so passionate and committed in helping communities, amplifying the voices of the vulnerable, giving them the chance
                                        br
                                        | to tell their untold stories. Some of Pochi’s work involves empowering and encouraging communities and individuals, especially 
                                        br
                                        | those that are at the centre of family break-apart. At the time, I was the Executive Secretary of RENATA – a network of asso-
                                        br
                                        | ciations that care for and empower survivors of sexual assault and teenage mothers. 
                                    
                                    p Pochi impacted us in two key ways. Through the “Clothesline”sessions , she emboldened many of the teenage mothers and 
                                        br
                                        | adolescents (survivors of sexual and gender-based violence) we worked with in how they make their voices heard about their 
                                        br
                                        | struggles. During these sessions, these GBV survivors will choose a colour of clothe representing a particular form of abuse, 
                                        br
                                        | and write a message of her voice on the clothe. These clothes, Pochi will later use to discuss sexual violences in communities.
                                        br
                                        | And through these workshops, for which we partnered with her, she helped our members to further exchange directly with
                                        br
                                        | men, women and youths of different communities on how the Cameroonian society ambles sexual assault and the loopholes 
                                        br
                                        | in the system, and what families and friends of victims can help. Her work went a long way to stimulate healthy conversations
                                        br
                                        | around sexual assault and how communities can help in the fight against it. 
                                    p Pochi’s works have truly inspired, empowered, and invigorated not only the young ladies in our programme, but also the
                                        br
                                        | communities she worked with. I will recommend her again and will work with her anytime the opportunity comes up again.
                                    

                        .intro__client__review
                            .intro__review__client 
                                img(src="/images/r4.png" alt="")
                            .intro__review__content__details
                                .intro__reviews__client__details 
                                    span Anastassia White 
                                        | - Academic Program Manager
                                    br
                                    | Peacebuilding Programs (Milwaukee, Wisconsin)
                                .intro__review__text__details
                                    p Pochi visited the University of Wisconsin-Milwaukee through the Institute of World Affairs to give an inspiring talk to Master  
                                        br
                                        | of Sustainable Peacebuilding students from her perspectives as a Cameroonian journalist, filmmaker, and social change 
                                        br
                                        | advocate. She emphasized the importance of knowing ourselves as peacebuilders and shared advice about how to build 
                                        br
                                        | understanding, practice selfcare, and protect our energy to create impactful, meaningful change in the world. Our students   
                                        br
                                        | enjoyed the interactive session Pochi facilitated and were left energized to continue their peacebuilding practice! 


                        
            +footer 