extends ../base.pug

block variables
    - var template = 'contact'

block body
    .contact
        .contact__content
            section.intro__contact
                .intro__contact__content(data-animation="paragraph")
                    h1 Contact
                    .contact__content__options
                        h2 Want to 
                            span collaborate 
                            br
                            |  with me Or just say hi?
                        .contact__option__email
                            a(href='mailto:christyshafack@gmail.com' target='gmail.com') christyshafack@gmail.com
                        .contact__option__socials
                            a(href='#') Facebook
                            a(href='#') Twitter
                            a(href='#') LinkedIn
                        .contact__option__form
                            .container-fluid
                                .row
                                    .col-lg-8
                                    form#contact-form(name='contact-form' method='post' action='')
                                        ul
                                            li(data-wow-delay='1.4s')
                                                label(for='contact-name') Name :
                                                .textarea
                                                    input#contact-name(type='text' name='contact-name' value='' required='')
                                            li(data-wow-delay='1.6s')
                                                label(for='contact-email') Email :
                                                .textarea
                                                    input#contact-email(type='email' name='contact-email' value='' required='')
                                            li(data-wow-delay='1.6s')
                                                label(for='contact-project') Message :
                                                .textarea
                                                    textarea#contact-project(type='email' name='contact-project' rows='6' value='' required='')
                                            .cta
                                                .btn
                                                    button#contact-submit.send(type='submit' name='contact-submit') Send Message


            +footer 
    



