extends ../base.pug

block variables
  - var template = 'home'

block body
  .home
    .home__content
      .page__content 
        section.intro__one
          .intro__one__content
            .title
              h2 Life / Leadership Coach
            br
            br
            .name__content
              .name
                h1 Pochi 
                  br
                  | Tamba
              .quote
                p Pochi means "the charity of God"
            .image
              img(src='/images/pochi.jpg' alt='pochi')
            .writeup
              p I am TV producer and also a project&nbsp;manager
                br 
                | who spends a good part of her free time 
                br 
                | empowering others in different ways.
              br
              br
              br
              br
              .cta
                .btn
                  a(href='/about')
                    span About me
        section.intro__two
          .intro__two__content
            .intro__two__title
              h2 Latest projects
            .intro__two__projects
              .intro__two__project
                .intro__two__project__img
                  img(src="/images/project1.jpg", alt="")
                br
                a(href='').intro__two__project__cta view project
                br
                br
              .intro__two__project
                .intro__two__project__img
                  img(src="/images/project2.jpg", alt="")
                br
                a(href='').intro__two__project__cta view project
                br
                br
              .intro__two__project
                .intro__two__project__img
                  img(src="/images/project1.jpg", alt="")
                br
                a(href='').intro__two__project__cta view project
                br
                br
              .intro__two__project
                .intro__two__project__img
                  img(src="/images/project2.jpg", alt="")
                br
                a(href='').intro__two__project__cta view project

            .cta
              .btn
                a(href='/about')
                  span All projects