extends ../base.pug

block variables
  - var template = 'home'

block body
  .home
    .home__content
      .page__content 
        section.intro
          .intro__content
            .title
              p Life / Leadership Coach
            br
            br
            .name__content
              .name
                h1 Pochi 
                  br
                  | Tamba
              .quote
                p Pochi means "the charity of God"
            .image
              img(src='/images/pochi.jpg' alt='pochi')