extends ../base.pug

block variables
  - var template = 'home'

block body
  .home
    .home__content
      section.intro
        .intro__content
          .title
            h2 Life / Leadership Coach
          br
          br
          .name__content
            .name
              h1 Pochi 
                br
                | Tamba
            .quote
              p Pochi means "the charity of God"
          .image
            img(src='/images/pochi.jpg' alt='pochi')
          .writeup
            p I am TV producer and also a project&nbsp;manager
              br 
              | who spends a good part of her free time 
              br 
              | empowering others in different ways.
            br
            br
            br
            br
            .cta
              .btn
                a(href='/about')
                  span About me


      section.intro__work
        .intro__work__content
          .intro__work__title
            h2 Latest projects

          .intro__work__projects
            .intro__work__project
              .intro__work__project__img
                img(src="/images/project1.jpg" alt="")
              .intro__work__project__title 
                h2 darkroom
              .intro__work__project__cta
                a(href='') view project

            .intro__work__project
              .intro__work__project__img
                img(src="/images/project2.jpg" alt="")
              .intro__work__project__title 
                h2 portraits
              .intro__work__project__cta 
                a(href='') view project

            .intro__work__project
              .intro__work__project__img
                img(src="/images/project1.jpg" alt="")
              .intro__work__project__title 
                h2 filming
              .intro__work__project__cta
                a(href='') view project

            .intro__work__project
              .intro__work__project__img
                img(src="/images/project2.jpg" alt="")
              .intro__work__project__title 
                h2 capture
              .intro__work__project__cta 
                a(href='') view project
          .cta
            .btn
              a(href='/about')
                span All projects


      section.reviews
        .intro__reviews__content
          .intro__reviews__title
            h2 Client reviews

          .intro__reviews
            .intro__review
              .intro__review__client
                img(src="/images/r1.png" alt="")
              .intro__review__detail
                .intro__reviews__client__name Ben natine
                .intro__review__text I must explain to you how all this mistaken idea of denouncing the pleasure and praising pain was born and I will give you an
                  br
                  |  account of the system, and expound the actual teachings of the great philosophers used to figure out the problems we have

            .intro__review
              .intro__review__client 
                img(src="/images/r3.png" alt="")
              .intro__review__detail
                .intro__reviews__client__name George shole
                .intro__review__text I must explain to you how all this mistaken idea of denouncing the pleasure and praising pain was born and I will give you an
                  br
                  |  account of the system, and expound the actual teachings of the great philosophers used to figure out the problems we have
            .intro__review
              .intro__review__client 
                img(src="/images/r4.png" alt="")
              .intro__review__detail
                .intro__reviews__client__name Nadine ola
                .intro__review__text I must explain to you how all this mistaken idea of denouncing the pleasure and praising pain was born and I will give you an
                  br
                  |  account of the system, and expound the actual teachings of the great philosophers used to figure out the problems we have
        
            .intro__review
              .intro__review__client 
                img(src="/images/r2.png" alt="")
              .intro__review__detail
                .intro__reviews__client__name Hamilton daschun
                .intro__review__text I must explain to you how all this mistaken idea of denouncing the pleasure and praising pain was born and I will give you an
                  br
                  |  account of the system, and expound the actual teachings of the great philosophers used to figure out the problems we have
          .cta
            .btn
              a(href='/reviews')
                span See more

      section.connect
        .intro__connect
          .intro__connect__title
            h2 Let's connect
          .intro__connect__cta 
            p Get to know me and let's work together
            br
            br
            br
            br
            .cta
              .btn
                a(href='/contact')
                  span Let's connect
      +footer 


                  //- &nbsp;