extends ../base.pug

block variables
    - var template = 'projects'

block body
    .projects
        .projects__content
            section.intro__projects
                .intro__projects__content
                    h1(data-animation="paragraph") Projects
                    .projects__list__content
                        .projects__list
                            .project
                                .project__img
                                    img(src="/images/project1.jpg" alt="")
                                .project__title 
                                    h2 darkroom
                                .project__cta
                                    a(href='/projects/darkroom') view project

                            .project
                                .project__img
                                    img(src="/images/project2.jpg" alt="")
                                .project__title 
                                    h2 portraits
                                .project__cta 
                                    a(href='/projects/portraits') view project

                            .project
                                .project__img
                                    img(src="/images/project1.jpg" alt="")
                                .project__title 
                                    h2 filming
                                .project__cta
                                    a(href='/projects/filming') view project

                            .project
                                .project__img
                                    img(src="/images/project2.jpg" alt="")
                                .project__title 
                                    h2 capture
                                .project__cta 
                                    a(href='/projects/capture') view project
                +footer                     
