extends ../base.pug

block variables
    - var template = 'projects'

block body
    .projects
        .projects__content
            section.intro__projects
                .intro__projects__content
                    h1 All 
                        br 
                        |projects
                    .projects__list__content
                        .projects__list
                            .project
                                .project__img
                                    img(src="/images/project1.jpg" alt="")
                                .project__title 
                                    h2 darkroom
                                .project__cta
                                    a(href='/projects/portraits') view project

                            .project
                                .project__img
                                    img(src="/images/project2.jpg" alt="")
                                .project__title 
                                    h2 portraits
                                .project__cta 
                                    a(href='') view project

                            .project
                                .project__img
                                    img(src="/images/project1.jpg" alt="")
                                .project__title 
                                    h2 filming
                                .project__cta
                                    a(href='') view project

                            .project
                                .project__img
                                    img(src="/images/project2.jpg" alt="")
                                .project__title 
                                    h2 capture
                                .project__cta 
                                    a(href='') view project
                +footer                     
//- .content-container
//-   section.slide
//-     a(href='./projects/project.html')
//-       article.content
//-         h2 1
//-         h3 Solara
//-         p
//-           | The Extra Ordinary 
//-           br
//-           | Rock Collection
//-   section.slide
//-     a(href='./projects/project.html')
//-       article.content
//-         h2 2
//-         h3 Chronix
//-         p
//-           | 90 BPM - The 
//-           br
//-           | Rhythm Of Chronix
//-   section.slide
//-     a(href='./projects/project.html')
//-       article.content
//-         h2 3
//-         h3 Caffina
//-         p
//-           | Perfect Symphony: 
//-           br
//-           | The Rhythm of Blend
//-   section.slide
//-     a(href='./projects/project.html')
//-       article.content
//-         h2 4
//-         h3 Urbano
//-         p
//-           | The Denim 
//-           br
//-           | Escape
//-   section.slide
//-     a(href='./projects/project.html')
//-       article.content
//-         h2 5
//-         h3 vitaluxe
//-         p
//-           | Vibe to the 
//-           br
//-           | Skin Experience
//-   section.slide
//-     a(href='./projects/project.html')
//-       article.content
//-         h2 6
//-         h3 alura
//-         p
//-           | The Official Alura 
//-           br
//-           | Cruise Rhythm
