.home {
  @extend %page;
  word-break: break-all;

  &--active {
    @extend %page--active;
  }
}

.home__content {
  @extend %cover;
  @extend %content;
  overflow: auto;
  // color:$color-black;
}

.page-content {
  padding-bottom: 100px;
}

.intro__one,
.intro__two {
  width: 100%;
  text-align: left;
}

.intro__one__content,
.intro__two__content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 150px 0 100px 0;
}

.title,
.quote {
  h2,
  p {
    font-family: $font-polysans-slim;
    font-size: 3rem;
  }
}

.name__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-family: $font-polysans-neutral;
  font-size: 35rem;
  line-height: 0.8;
  color: $color-accent;
}

.image {
  width: 70%;
  object-fit: cover;
  margin: 0 auto;
  z-index: -1;
}

.writeup {
  margin: 0 auto;
  p {
    margin-top: 100px;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
  }
}

.cta {
  .btn {
    @extend %cta;
  }
}

.intro__two {
  background-color: $color-black;
  color: $color-white;
}

.intro__two__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro__two__title {
  h2 {
    font-family: $font-polysans-slim;
    font-size: 3rem;
  }
}

.intro__two__projects {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.intro__two__project {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  .intro__two__project__img {
    width: 400px;
    object-fit: cover;
  }

  .intro__two__project__title {
    margin-top: 5px;
    h2 {
      font-family: $font-polysans-neutral;
      font-size: 6rem;
    }
  }

  .intro__two__project__cta {
    a {
      font-family: $font-polysans-slim;
      font-size: 3rem;
      @extend %link__white;
    }
  }
}
